<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.twoheart.dailyhotel"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- 혀용하지 않는 퍼미션 -->
    <!-- PHONE -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- LOCATION -->
    <uses-permission android:name="com.twoheart.dailyhotel.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.twoheart.dailyhotel.permission.C2D_MESSAGE"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <permission
        android:name="com.twoheart.dailyhotel.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <permission
        android:name="com.twoheart.dailyhotel.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <application
        android:name=".DailyHotel"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LauncherActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="dailyhotel.co.kr"
                    android:scheme="dailyhotel"/>
            </intent-filter>
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="@string/kakao_scheme"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="dailyhotel"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".screen.hotel.detail.HotelDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".screen.gourmet.detail.GourmetDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".screen.common.ImageDetailListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.common.ZoomMapActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.booking.detail.hotel.HotelBookingDetailTabActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.booking.detail.gourmet.GourmetBookingDetailTabActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.information.AboutActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".deprecated.NoticeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".deprecated.FAQActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.information.member.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name=".screen.common.PermissionManagerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name=".screen.information.member.SignupStep1Activity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity
            android:name=".screen.information.member.SignupStep2Activity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity
            android:name=".screen.information.ForgotPasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.information.terms.TermActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.information.terms.PrivacyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.information.terms.LocationTermsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.information.terms.ProtectYouthTermsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.information.terms.BonusTermActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.hotel.payment.HotelPaymentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".screen.gourmet.payment.GourmetPaymentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".screen.hotel.payment.HotelPaymentThankyouActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.gourmet.payment.GourmetPaymentThankyouActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.event.EventWebActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.information.member.ProfileActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name=".screen.information.member.EditProfileEmailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity
            android:name=".screen.information.member.EditProfileNameActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity
            android:name=".screen.information.member.EditProfilePhoneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name=".screen.information.member.EditProfilePasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity
            android:name=".screen.information.member.AddProfileSocialActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateVisible|adjustPan"/>
        <activity
            android:name=".screen.booking.detail.PaymentWaitActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.information.creditcard.RegisterCreditCardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.information.bonus.InviteFriendsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.information.member.CountryCodeListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.information.member.InputMobileNumberDialogActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name=".screen.booking.detail.hotel.IssuingReceiptActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.booking.detail.gourmet.GourmetReceiptActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.hotel.region.HotelRegionListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.gourmet.region.GourmetRegionListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.hotel.region.StayRegionListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.common.SatisfactionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name=".screen.information.bonus.BonusActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.information.coupon.CouponListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.information.coupon.CouponHistoryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.information.coupon.SelectCouponDialogActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name=".screen.information.coupon.CouponTermActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.event.EventListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.hotel.filter.HotelCurationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name=".screen.hotel.filter.StayCurationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name=".screen.gourmet.filter.GourmetCurationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name=".screen.hotel.filter.HotelCalendarActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name=".screen.gourmet.filter.GourmetCalendarActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name=".screen.hotel.filter.StayCalendarActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name=".screen.hotel.search.HotelSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.hotel.search.HotelSearchResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.gourmet.search.GourmetSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.gourmet.search.GourmetSearchResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.common.ExitActivity"
            android:autoRemoveFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay"/>
        <activity
            android:name=".screen.hotel.payment.HotelPaymentWebActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".screen.gourmet.payment.GourmetPaymentWebActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name="kr.co.kcp.android.payment.standard.ResultRcvActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="dailyHOTEL"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.common.push.PushLockDialogActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:taskAffinity="com.twoheart.dailyhotel.popup"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".screen.common.push.ScreenOnPushDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".screen.information.creditcard.CreditCardListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.appboy.ui.AppboyWebViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.appboy.ui.activities.AppboyFeedActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyACc8hv-TecbnEBvl8Z758hBMP1ssqo4gQ"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>

        <!--
         Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
         installation campaign reporting
        -->
        <receiver
            android:name="com.twoheart.dailyhotel.ReferrerBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService"/>

        <receiver
            android:name=".gcm.AppboyBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.twoheart.dailyhotel.intent.APPBOY_PUSH_RECEIVED"/>
                <action android:name="com.twoheart.dailyhotel.intent.APPBOY_NOTIFICATION_OPENED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.twoheart.dailyhotel"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.appboy.AppboyGcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="com.twoheart.dailyhotel"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.GcmIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bd223ac8e751f29e89aacd6487b47df88384f04e"/>
    </application>
</manifest>
